nav button {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    outline: none;
}

nav button:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav button.active {
    background: var(--color-primary);
    color: var(--color-bg);
}
